# === Core Python ===
wheel>=0.41.0

# === DevOps / Tooling ===
black>=24.3.0
click>=8.1.7
pytest>=7.4.4
pytest-cov>=4.1.0
pylint>=3.1.0

# === AWS / Cloud ===
boto3>=1.34.94

# === Web Framework ===
fastapi>=0.110.0
uvicorn>=0.22.0

# === Jupyter / Visualization ===
jupyter>=1.0.0
matplotlib>=3.8.4
seaborn>=0.13.2

# === Data Science ===
numpy>=1.26.0
pandas>=2.2.2
scikit-learn>=1.4.2
dask>=2024.4.2

# === Geo ===
geopy>=2.4.1

# === MLOps ===
mlflow>=2.12.1
streamlit>=1.34.0
gradio>=4.27.0
protobuf>=4.25.3
onnx>=1.16.0

# Databricks
databricks==0.2
databricks-cli>=0.18.0
databricks-sql-connector>=2.9.0

# === Hugging Face Transformers ===
transformers>=4.41.2
datasets>=2.19.1
sentencepiece>=0.2.0
tokenizers>=0.19.1

# === Deep Learning ===
torch           # let pip resolve latest compatible with CUDA & Py 3.12
torchvision
tensorflow>=2.16.1

# === Whisper (OpenAI) ===
git+https://github.com/openai/whisper.git

# === Keyphrase Extraction ===
yake>=0.4.8



